div {
    margin: 2rem;
  }
  
  .trivia {
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  /* I wanted to try styling the component */
  
  .question-tracker {
    font-size: 1.5rem;
    color: #484e78;
    margin-bottom: 2rem;
  }
  .results {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.5rem;
    color: #484e78;
  }
  
  .score {
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: 600;
    color: #ba99c0;
  }